@{
    var services = ViewBag.Services as IEnumerable<HM.DataModels.ExtraService>;
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-body no-padding">

            @{
                if (services != null)
                {
                    <ul class="list divider-full-bleed">
                        @foreach (var item in services)
                        {
                        <li class="tile">
                            <a class="tile-content ink-reaction">
                                
                                <div class="tile-text name">
                                    @item.Name
                                    <small>
                                        Đơn vị tính: @item.Unit, Giá <label class="price">@item.Price</label>
                                    </small>
                                
                                </div>
                            </a>
                            <a class="btn btn-flat ink-reaction" data-toggle="modal" data-target="#modalAddService"  onclick="editService(@item.Id);">
                                <i class="fa fa-pencil" ></i>
                             
                            </a>
                            <a class="btn btn-flat ink-reaction" onclick="deleteService(@item.Id);">
                             
                                <i class="fa fa-trash" ></i>
                            </a>
                        </li>
                        }
                    </ul>
                }
                else
                {
                    <h2>Danh sách dịch vụ trống</h2>
                }

            }


        </div>
    </div>

   

</div>

<script>
    var options = {
        valueNames: ['name','price']
    };

    var serviceList = new List('body', options);



</script>