@{
    ViewBag.Title = "Index";
}

<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">Danh sách khách sạn</h2>
    </div>
    <div class="section-body">
        <div class="row">
            <div id="toLoadHotels">
                @Html.Partial("_ShowHotelsPartial")
            </div>

        </div>
        <!-- BEGIN OFFCANVAS RIGHT -->
        @Html.Partial("_ModalAddHotelPartial")
        <!-- END OFFCANVAS RIGHT -->
    </div><!--end .section-body -->
</section>

<button type="button" onclick="openModalAddHotel()" class="btn ink-reaction btn-floating-action btn-lg btn-primary fix-floating-btn" data-toggle="modal" data-target="#modalAddHotel"><i class="md md-add"></i></button>

<script src="~/Content/assets/js/core/demo/DemoTableDynamic.js"></script>

<script>



    var hotelTemp = null;

    function openModalAddHotel() {
        $("#btnAddHotel").text("Thêm");
        $("#myModalLabel3").text("Thêm khách sạn");
        hotelTemp = null;
        clearControl();
    }

    function clearControl() {
        $("#txtHotelName").val("");
        $("#txtHotelTaxCode").val("");
        $("#txtHotelAddress").val("");
        $("#txtHotelContact").val("");
        $("#txtHotelContactPhone").val("");
        $("#txtHotelContactMail").val("");
    }

    function addHotel() {
        var hotel = new Object({
            Name: $("#txtHotelName").val(),
            TaxCode: $("#txtHotelTaxCode").val(),
            Address: $("#txtHotelAddress").val(),
            Contact: $("#txtHotelContact").val(),
            ContactPhone: $("#txtHotelContactPhone").val(),
            ContactMail: $("#txtHotelContactMail").val()
        });

        if (hotelTemp == null)//Create
        {
            $.ajax({
                url: '@Url.Action("CreateHotel","Hotel")',
                type: "POST",
                data: {
                    ht: hotel

                },
                success: function myfunction(data) {
                    if (data) {
                        alert("Thêm thành công");
                        //$("#toLoadHotels").load('@Url.Action("LoadHotelsPartial", "Hotel")');
                        $('#hotelsTable').dataTable().fnDraw();
                    }
                    else
                        alert("Thêm không thành c");
                },
                error: function myfunction() {

                }
            })
        }
        else //Update
        {
            hotelTemp.Name = $("#txtHotelName").val();
            hotelTemp.TaxCode = $("#txtHotelTaxCode").val();
            hotelTemp.Address = $("#txtHotelAddress").val();
            hotelTemp.Contact = $("#txtHotelContact").val();
            hotelTemp.ContactPhone = $("#txtHotelContactPhone").val();
            hotelTemp.ContactMail = $("#txtHotelContactMail").val();

            $.ajax({
                url: '@Url.Action("UpdateHotel", "Hotel")',
                type: "POST",
                data: {
                    ht: hotelTemp
                },
                success: function (data) {
                    if (data) {
                        alert("Cập nhật thành công");
                        //$("#toLoadHotels").load('@Url.Action("LoadHotelsPartial", "Hotel")');
                        $('#hotelsTable').dataTable().fnDraw();
                        openModalAddHotel();
                    }
                    else
                        alert("Không thành công");
                },
                error: function myfunction() {

                }
            })
        }

    }
    function editHotel(id) {
        $("#btnAddHotel").text("Cập nhật");
        $("#myModalLabel3").text("Cập nhật khách sạn");
        $.ajax({
            url: "@Url.Action("GetHotelInfo","Hotel")",
            data: { htId: id },
            type: "GET",
            success: function (data) {
                if (data != null) {
                    hotelTemp = data;

                    $("#txtHotelName").val(data.Name);
                    $("#txtHotelTaxCode").val(data.TaxCode);
                    $("#txtHotelAddress").val(data.Address);
                    $("#txtHotelContact").val(data.Contact);
                    $("#txtHotelContactPhone").val(data.ContactPhone);
                    $("#txtHotelContactMail").val(data.ContactMail);
                }
            },
            error: function () { alert("Loi oi") }
        })
    }
    function deleteHotel(id) {
        var agreeDelete = confirm("Bạn có chắc chắn muốn xóa khách sạn này?");
        if (agreeDelete) {
            $.ajax({
                url: "@Url.Action("DeleteHotel", "Hotel")",
                data: { htId: id },
                type: "POST", // <== Method = POST
                success: function (data) {
                    if (data) {
                        //$("#toLoadHotels").load('@Url.Action("LoadHotelsPartial", "Hotel")');
                        $('#hotelsTable').dataTable().fnDraw();
                        alertify.success("Xóa thành công");
                    }
                },
                error: function () {
                    alertify.error("Có lỗi xảy ra");
                }
            });
        }
    }

</script>