@{
    ViewBag.Title = "Index";
    var hotels = ViewBag.Hotels as IEnumerable<HM.DataModels.Hotel>;



}

<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">Danh sách khách sạn</h2>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="datatable1" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="sort-alpha">Tên khách sạn</th>
                                <th>Mã số thuế</th>
                                <th>Địa chỉ</th>
                                <th class="sort-alpha">Người liên hệ</th>
                                <th>Điện thoại</th>
                                <th>Mail</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (hotels != null)
                                {
                                    foreach (var item in hotels)
                                    {
                                        <tr>
                                            <td>@item.Name</td> 
                                            <td>@item.TaxCode</td>  
                                            <td>@item.Address</td>
                                            <td>@item.Contact</td>
                                            <td>@item.ContactPhone</td>
                                            <td>@item.ContactMail</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-original-title="Edit row" onclick="editHotel(@item.Id)"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-original-title="Delete row" onclick="deleteHotel(@item.Id)"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>Dữ liệutTrống</td>
                                        <td>Trống</td>
                                        <td>Trống</td>
                                        <td>4</td>
                                        <td>X</td>
                                    </tr>

                                }
                            }
                           
                        </tbody>
                    </table>
                </div><!--end .table-responsive -->
            </div><!--end .col -->
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>

<button type="button" onclick="openModalAddHotel()" class="btn ink-reaction btn-floating-action btn-lg btn-primary fix-floating-btn" data-toggle="modal" data-target="#modalAddHotel"><i class="md md-add"></i></button>

<script src="~/Content/assets/js/core/demo/DemoTableDynamic.js"></script>

<script>
    function addHotel()
    {
      
        var hotel = new Object({
            Name: $("#txtHotelName").Val(),
            TaxCode: $("#txtHotelTaxCode").Val(),
            Address: $("#txtHotelAddress").Val(),
            Contact: $("#txtHotelContact").Val(),
            ContactPhone: $("#txtHotelContactPhone").Val(),
            ContactMail: $("#txtHotelContactMail").Val()
        });


    }
    function editHotel(id)
    {
        alert(id);
    }
    function deleteHotel(id)
    {
        alert(id);
    }

</script>








