@{
    ViewBag.Title = "Index";
}

<section>
    <div class="section-header">
        <h2 class="text-primary">Loại phòng</h2>
    </div>

    <div class="section-body">

        <!-- BEGIN ROOMTYPE -->
        <div id="roomTypeToLoadPartial">
            @Html.Partial("_RoomTypePartial")
        </div>
        <!-- END ROOMTYPE -->
        <!-- BEGIN OFFCANVAS RIGHT -->
        @Html.Partial("_ModalAddRoomTypePartial")
        @Html.Partial("_ModalRoomPartial")
        <!-- END OFFCANVAS RIGHT -->
    </div><!--end .section-body -->
</section>

<button type="button" onclick="openModalAddRoomType()" class="btn ink-reaction btn-floating-action btn-lg btn-primary fix-floating-btn" data-toggle="modal" data-target="#modalAddRoomtype"><i class="md md-add"></i></button>

<script>

    function openModalAddRoomType() {
        $("#btnAddRoomType").text("Thêm");
        editRoomType = null;
        clearControl();
    }

    function clearControl() {
        $("#txtRoomTypeName").val("");
        $("#txtRoomTypeMaxCustomer").val("");
        $("#txtRoomTypePriceDay").val("");
        $("#txtRoomTypePriceHour1").val("");
        $("#txtRoomTypePriceHour2").val("");
        $("#txtRoomTypePriceHour3").val("");
    }

    var editRoomType = null;

    function bindRoomType(roomTypeId) {

        $("#btnAddRoomType").text("Cập nhật");

        $.ajax({
            url: "@Url.Action("GetRoomType", "RoomType")",
            data: { id: roomTypeId },
            type: "GET",
            success: function (room) {
                editRoomType = room;

                $("#txtRoomTypeName").val(room.Name);
                $("#txtRoomTypeMaxCustomer").val(room.MaxCustomer);
                $("#txtRoomTypePriceDay").val(room.Price[3]);
                $("#txtRoomTypePriceHour1").val(room.Price[0]);
                $("#txtRoomTypePriceHour2").val(room.Price[1]);
                $("#txtRoomTypePriceHour3").val(room.Price[2]);
            },
            error: function () {
                toastr.error("Không lấy được dữ liệu");
            }
        });
    }

    function addRoomType() {
        var Name = $("#txtRoomTypeName").val();
        var MaxCustomer = parseInt($("#txtRoomTypeMaxCustomer").val());
        var PriceDay = parseInt($("#txtRoomTypePriceDay").val());
        var Price1 = parseInt($("#txtRoomTypePriceHour1").val());
        var Price2 = parseInt($("#txtRoomTypePriceHour2").val());
        var Price3 = parseInt($("#txtRoomTypePriceHour3").val());

        if (editRoomType == null) {
            console.log("create");

            $.ajax({
                url: "@Url.Action("CreateRoomType","RoomType")",
                data: roomType = {
                    Name: Name,
                    MaxCustomer: MaxCustomer,
                    Price: [Price1, Price2, Price3, PriceDay]
                },
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                        toastr.success("Thêm thành công!");
                    }
                },
                error: function () {
                    toastr.error("Tạo loại phòng lỗi");
                }
            });
        }
        else { // đã có editRoomType, nên trường hợp này là cập nhật
            editRoomType.Name = Name;
            editRoomType.MaxCustomer = MaxCustomer;
            editRoomType.Price = [Price1, Price2, Price3, PriceDay];
            console.log("update");

            $.ajax({
                url: "@Url.Action("UpdateRoomType","RoomType")",
                data: editRoomType,
                type: "POST", //<== method = POST
                success: function (data) {
                    if (data == true) {
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                        toastr.success("Cập nhật thành công");
                    }
                },
                error: function () {
                    toastr.error("Cập nhật loại phòng lỗi");
                }
            });
        }
    }

    function deleteRoomType(roomTypeId) {

        $.alertable.confirm('Bạn có chắc là muốn xóa loại phòng này?').then(function () {
            $.ajax({
                url: "@Url.Action("DeleteRoomType", "RoomType")",
                data: { id: roomTypeId },
                type: "POST", // <== Method = POST
                success: function (data) {
                    if (data == true) {
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                        toastr.success("Xóa thành công");
                    }
                },
                error: function () {
                    toastr.error("Không lấy được loại phòng");
                }
            });

        }, function () { });


        @*var agreeDelete = confirm("Bạn có chắc chắn muốn xóa loại phòng này?");
        if (agreeDelete) {
            $.ajax({
                url: "@Url.Action("DeleteRoomType", "RoomType")",
                data: { id: roomTypeId },
                type: "POST", // <== Method = POST
                success: function (data) {
                    if (data == true) {
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                        toastr.success("Xóa thành công");
                    }
                    else
                        toastr.error("Không thể xóa loại phòng này");
                },
                error: function () {
                    toastr.error("Không lấy được loại phòng");
                }
            });
        }*@
    }

    var roomTypeId = 0;
    var roomTemp = null;

    function openModalRoom(id) {
        roomTypeId = id;
        if (roomTypeId != null && roomTypeId != "" && !isNaN(roomTypeId)) {
            $("#idToLoadroom").load('@Url.Action("GetRoomList", "RoomType")' + "?rtId=" + roomTypeId)
        }

        clearRoomField();
    }

    function createRoom() {
        var roomName = $("#roomName").val();
        var roomRemark = $("#roomRemark").val();
        var rtId = roomTypeId;

        var room = new Object(
            {
                RoomTypeId: rtId,
                Name: roomName,
                Remark: roomRemark
            }
        );
        if (roomTemp == null) //Create
        {
            $.ajax({
                url: '@Url.Action("CreateRoom","RoomType")',
                type: "POST",
                data: {
                    r: room

                },
                success: function myfunction(data) {
                    if (data) {
                        toastr.success("Thêm thành công");
                        $("#idToLoadroom").load('@Url.Action("GetRoomList", "RoomType")' + "?rtId=" + roomTypeId);
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                    }
                    else
                        toastr.error("Thêm không thành công");
                },
                error: function myfunction() {

                }
            })
        }
        else //update
        {
            roomTemp.Name = roomName;
            roomTemp.Remark = roomRemark;

            $.ajax({
                url: '@Url.Action("UpdateRoom", "RoomType")',
                type: "POST",
                data: {
                    r: roomTemp

                },
                success: function (data) {
                    if (data) {
                        toastr.success("Cập nhật thành công");
                        $("#idToLoadroom").load('@Url.Action("GetRoomList", "RoomType")' + "?rtId=" + roomTypeId);
                        clearRoomField();
                    }
                    else
                        toastr.error("Cập nhật không thành công");
                },
                error: function myfunction() {
                }
            })
        }
    }

    function editRoom(id) {
        $("#btnAddRoom").text("Cập nhật");
        $.ajax({
            url: "@Url.Action("GetRoomInfo","RoomType")",
            data: { rId: id },
            type: "GET",
            success: function (data) {
                if (data != null) {
                    roomTemp = data;
                    $("#roomName").val(data.Name);
                    $("#roomRemark").val(data.Remark);
                }
            },
            error: function () { toastr.error("Không lấy được dữ liệu"); }
        })
    }

    function clearRoomField() {
        $("#roomName").val("");
        $("#roomRemark").val("");
        roomTemp = null;
        $("#btnAddRoom").text("Thêm");
    }

    function deleteRoom(id) {
        $.alertable.confirm('Bạn có chắc là muốn xóa phòng này?').then(function () {
            $.ajax({
                url: "@Url.Action("DeleteRoom", "RoomType")",
                data: { rId: id },
                type: "POST", // <== Method = POST
                success: function (data) {
                    if (data) {
                        $("#idToLoadroom").load('@Url.Action("GetRoomList", "RoomType")' + "?rtId=" + roomTypeId);
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                        toastr.success("Xóa thành công");
                    }
                },
                error: function () {
                    alertify.error("Không lấy được mã phòng");
                }
            });

        }, function () { });

        @*var agreeDelete = confirm("Bạn có chắc chắn muốn xóa phòng này?");
        if (agreeDelete) {
            $.ajax({
                url: "@Url.Action("DeleteRoom", "RoomType")",
                data: { rId: id },
                type: "POST", // <== Method = POST
                success: function (data) {
                    if (data) {
                        $("#idToLoadroom").load('@Url.Action("GetRoomList", "RoomType")' + "?rtId=" + roomTypeId);
                        $("#roomTypeToLoadPartial").load('@Url.Action("LoadRoomTypePartial", "RoomType")');
                        toastr.success("Xóa thành công");
                    }
                    else
                        toastr.error("Không thể xóa phòng này");
                },
                error: function () {
                    toastr.error("Không lấy được dữ liệu");
                }
            });
        }*@
    }
</script>