@{
    ViewBag.Title = "Danh sách phòng";
    var rooms = ViewBag.Rooms as IEnumerable<HM.WebApp.Models.RoomModel>;
    var group = rooms?.GroupBy(a => a.RoomTypeName).Select(a => a);
    var customers = ViewBag.Customers as IEnumerable<HM.DataModels.Customer>;
}

<section>
    <div class="section-body">
<<<<<<< HEAD
        @{
            if (group != null)
            {
                foreach (var g in group)
                {
                    <div class="row">
                        <h2>@g.Key</h2>
                        @foreach (var r in g)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="card card-bordered @(r.Status.HasValue && r.Status == 0 ? "style-primary" : (r.Status == 1 ? "style-warning" : "style-danger"))">
                                    <div class="card-head">
                                        <div class="tools">
                                            <div class="btn-group">
                                                <a class="btn btn-icon-toggle" data-toggle="modal" data-target="#formModalInRoom"><i class="fa fa-info"></i></a>
                                                <a class="btn btn-icon-toggle" href="#offcanvas-booking" data-toggle="offcanvas" data-backdrop="true"><i class="fa fa-check"></i></a>
                                                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            </div>
                                        </div>
                                        <header><i class="fa fa-fw fa-tag"></i>@r.Name</header>
                                    </div><!--end .card-head -->
                                    <div class="card-body style-default-bright" style="display: block;">
                                        <ul class="list">
                                            <li class="tile">
                                                <a class="tile-content ink-reaction">
                                                    <div class="tile-icon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </div>
                                                    <div class="tile-text">
                                                        John Doe, Daniel, Contei
                                                        <small>2/3</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="tile">
                                                <a class="tile-content ink-reaction">
                                                    <div class="tile-icon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <div class="tile-text">
                                                        21/05/2010
                                                        <small>2days ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="tile">
                                                <a class="tile-content ink-reaction">
                                                    <div class="tile-icon">
                                                        <i class="fa fa-money"></i>
                                                    </div>
                                                    <div class="tile-text">
                                                        @r.Price
                                                        <small>/ngày</small>
                                                    </div>
                                                </a>
                                                <a class="btn btn-flat ink-reaction" data-toggle="modal" data-target="#formModalPay">
                                                    <i class="fa fa-credit-card"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!--end .card-body -->
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        }
=======
        <div id="toLoadRooms">@Html.Partial("_ShowRooms")</div>
        @Html.Partial("_ModalBooking")
        @Html.Partial("_ModalRoomInfo")
>>>>>>> 7cc7d8be788202dc663b5bcd086a9470d31a19c6
    </div>
</section>


<script>
    var roomId;
    var roomTypeId;
    function openModalBooking(rId, rtId)
    {
        roomId = rId;
        roomTypeId = rtId;
    }

    function openModalRoomInfo(roomId, roomName)
    {
        $("#RoomNameLabel").text(roomName);
    }
    function createOrder()
    {

        var order = new Object({
            CustomerId: $("#cbbCustomers").val(),
            RoomId: roomId,
            //CheckInDate: new Date()
        });


        $.ajax({
            url: "@Url.Action("BookNewRoom", "Room")",
            data: { ord : order },
        type: "POST",
        success: function myfunction(data) {
            if (data) {
                toastr.success("Thêm thành công");
                $("#toLoadRooms").load('@Url.Action("LoadRooms", "Room")');
            }
            else
                toastr.error("Thêm không thành công");
        },
        error: function myfunction() {

        }



    });
    }

    function displayUnavailableRoom()
    {
        toastr.warning("Phòng đang sử dụng");
    }
</script>