@{
    ViewBag.Title = "Index";
    var revByDay = (double)ViewBag.RevByDay;
    var revByWeek = (double)ViewBag.RevByWeek;
    var revByMonth = (double)ViewBag.RevByMonth;
    var revByYear = (double)ViewBag.RevByYear;

    var newCustomer = ViewBag.NewCustomer as IEnumerable<HM.DataModels.Customer>;
    var checkoutRecent = ViewBag.CheckOutRecent as IEnumerable<HM.DataModels.Customer>;
    
    //var revByRoomType = ViewBag.RevenueByRoomType as Dictionary<string, double>;

    var monthlyRev = ViewBag.MonthlyRev as Dictionary<int, double>;
}

<section>
    <div class="section-body">

        <div class="row">
            <!-- BEGIN ALERT - REVENUE -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <h1 class="pull-right text-success"><i class="md md-timer"></i></h1>
                            <strong class="text-xl">@(revByDay.ToString("#,##0"))</strong><br />
                            <span class="opacity-50">Doanh thu trong ngày</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - REVENUE -->
            <!-- BEGIN ALERT - VISITS -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <h1 class="pull-right text-success"><i class="fa fa-calendar-o"></i></h1>
                            <strong class="text-xl">@(revByWeek.ToString("#,##0"))</strong><br />
                            <span class="opacity-50">Doanh thu tuần này</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - VISITS -->
            <!-- BEGIN ALERT - BOUNCE RATES -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <h1 class="pull-right text-success"><i class="fa fa-calendar"></i></h1>
                            <strong class="text-xl">@(revByMonth.ToString("#,##0"))</strong><br />
                            <span class="opacity-50">Doanh thu tháng này</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - BOUNCE RATES -->
            <!-- BEGIN ALERT - TIME ON SITE -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <h1 class="pull-right text-success"><i class="fa fa-dollar"></i></h1>
                            <strong class="text-xl">@(revByYear.ToString("#,##0"))</strong><br />
                            <span class="opacity-50">Doanh thu trong năm</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - TIME ON SITE -->

        </div><!--end .row -->

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-head">
                        <header>Doanh thu từng tháng</header>
                    </div>

                    <div class="card-body">
                        <div id="morris-bar-graph" class="height-7" data-colors="#9C27B0,#2196F3,#0aa89e"></div>
                    </div>

                </div><!--end .card -->
            </div><!--end .col -->

        </div><!--end .row -->

        <div class="row">

            <div class="col-md-6">
                <div class="card ">
                    <div class="card-head">
                        <header>Khách hàng mới</header>
                    </div><!--end .card-head -->
                    <div class="card-body no-padding height-9 scroll">
                        <ul class="list divider-full-bleed" data-sortable="true">
                            @{
                                if (newCustomer != null)
                                {
                                    foreach (var item in newCustomer)
                                    {
                            <li class="tile">
                                <div class="checkbox checkbox-styled tile-text">
                                    <label>
                                        <span>@item.Name - @item.Phone</span>
                                    </label>
                                </div>
                            </li>
                                    }
                                }
                            }
                        </ul>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->

            <div class="col-md-6">
                <div class="card ">
                    <div class="card-head">
                        <header>Khách vừa trả phòng</header>
                    </div><!--end .card-head -->
                    <div class="card-body no-padding height-9 scroll">
                        <ul class="list divider-full-bleed" data-sortable="true">
                            @{
                                if (checkoutRecent != null)
                                {
                                    foreach (var item in checkoutRecent)
                                    {
                            <li class="tile">
                                <div class="checkbox checkbox-styled tile-text">
                                    <label>
                                        <span>@item.Name - @item.Phone</span>
                                    </label>
                                </div>
                            </li>
                                    }
                                }
                            }
                        </ul>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->

            @*<div class="col-md-4">
                <div class="card ">
                    <div class="card-head">
                        <header>Doanh thu theo loại phòng</header>
                    </div><!--end .card-head -->
                    <div class="card-body no-padding height-9 scroll">
                        <div class="card-body height-8">
                            @{
                                if (revByRoomType != null)
                                {
                                    var sum = revByRoomType.Values.Sum();
                                    foreach (var item in revByRoomType)
                                    {
                        <strong>@item.Key</strong>
                        <div class="progress progress-hairline">
                            <div class="progress-bar progress-bar-primary-dark" style="width:@(item.Value / sum * 100)%"></div>
                        </div>
                                    }
                                }
                            }
                        </div><!--end .card-body -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>*@

        </div><!--end .row -->

    </div><!--end .section-body -->
</section>

<script src="~/Content/assets/js/libs/flot/jquery.flot.min.js"></script>
<script src="~/Content/assets/js/libs/flot/jquery.flot.time.min.js"></script>
<script src="~/Content/assets/js/libs/flot/jquery.flot.resize.min.js"></script>
<script src="~/Content/assets/js/libs/flot/jquery.flot.orderBars.js"></script>
<script src="~/Content/assets/js/libs/flot/jquery.flot.pie.js"></script>
<script src="~/Content/assets/js/libs/flot/curvedLines.js"></script>
<script src="~/Content/assets/js/libs/jquery-knob/jquery.knob.min.js"></script>
<script src="~/Content/assets/js/libs/sparkline/jquery.sparkline.min.js"></script>
<script src="~/Content/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="~/Content/assets/js/libs/d3/d3.min.js"></script>
<script src="~/Content/assets/js/libs/d3/d3.v3.js"></script>
<script src="~/Content/assets/js/libs/rickshaw/rickshaw.min.js"></script>
<script src="~/Content/assets/js/libs/morris.js/morris.min.js"></script>
<script src="~/Content/assets/js/libs/chartjs/chart.min.js"></script>
<script src="~/Content/assets/js/libs/raphael/raphael-min.js"></script>

<script>



    $(function () {
        Morris.Bar({
            element: 'morris-bar-graph',
            data: [
                { x: 'Tháng 1', y: @monthlyRev[1] },
                { x: 'Tháng 2', y: @monthlyRev[2] },
                { x: 'Tháng 3', y: @monthlyRev[3] },
                { x: 'Tháng 4', y: @monthlyRev[4] },
                { x: 'Tháng 5', y: @monthlyRev[5] },
                { x: 'Tháng 6', y: @monthlyRev[6] },
                { x: 'Tháng 7', y: @monthlyRev[7] },
                { x: 'Tháng 8', y: @monthlyRev[8] },
                { x: 'Tháng 9', y: @monthlyRev[9] },
                { x: 'Tháng 10', y: @monthlyRev[10] },
                { x: 'Tháng 11', y: @monthlyRev[11] },
                { x: 'Tháng 12', y: @monthlyRev[12] }
            ],
            xkey: 'x',
            ykeys: ['y'],
            labels: ['Doanh thu'],
            barColors: ["#0aa89e"]
        });
    })
</script>