
@{
    ViewBag.Title = "Index";
    var ctmTypes = ViewBag.CustomerTypes as IEnumerable<HM.DataModels.CustomerType>;
}

<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">Danh sách khách hàng</h2>
    </div>
   
    <div class="section-body">
       <div class="row">
           <div class="toLoadCustomers">@Html.Partial("_ShowCustomers")</div>
       </div>
      
       
        <!-- BEGIN OFFCANVAS RIGHT -->
        @Html.Partial("_ModalAddCustomer")
        <!-- END OFFCANVAS RIGHT -->
    </div><!--end .section-body -->
</section>


<button type="button" onclick="openModalAddCustomer()" class="btn ink-reaction btn-floating-action btn-lg btn-primary fix-floating-btn" data-toggle="modal" data-target="#modalAddCustomer"><i class="md md-add"></i></button>

<script>
    var customerTemp = null;
    function openModalAddCustomer() {
        $("#modalCustomerLabel").val("Thêm Loại Khách");
        $("#btnAddCustomer").val("Thêm");
        $("#btnClear").show();
        customerTemp = null;
        clearControl();
    }

    function clearControl() {
        $("#txtCustomerName").val("");
        $("#txtCustomerCardId").val("");
        $("#txtCustomerPhone").val("");
        $("#txtCustomerAddress").val("");
    }

    function addCustomer()
    {
        var customer = new Object({
            Name: $("#txtCustomerName").val(),
            CustomerTypeId: $("#cbbCtmType").val(),
            CardId: $("#txtCustomerCardId").val(),
            Phone: $("#txtCustomerPhone").val(),
            Address:$("#txtCustomerAddress").val()
        });

        if (customerTemp == null)
        {
            $.ajax({
                url: '@Url.Action("CreateCustomer","Customer")',
                type: "POST",
                data: {
                    ctm : customer

                },
                success: function myfunction(data) {
                    if (data) {
                        toastr.success("Thêm thành công");
                        clearControl();
                        $('#customersTable').dataTable().fnDraw();
                    }
                    else
                        toastr.error("Thêm không thành công");
                },
                error: function myfunction() {

                }
            })
        }
        else
        {

            customerTemp.Name = $("#txtCustomerName").val();
            customerTemp.CustomerTypeId = $("#cbbCtmType").val();
            customerTemp.CardId = $("#txtCustomerCardId").val();
            customerTemp.Phone = $("#txtCustomerPhone").val();
            customerTemp.Address = $("#txtCustomerAddress").val();

            $.ajax({
                url: '@Url.Action("UpdateCustomer", "Customer")',
                type: "POST",
                data: {
                    ctm: customerTemp
                },
                success: function (data) {
                    if (data) {
                        toastr.success("Cập nhật thành công");
                        $('#customersTable').dataTable().fnDraw();
                        openModalAddCustomer();
                    }
                    else
                        toastr.error("Không thành công");
                },
                error: function myfunction() {

                }
            })
        }

    }


    function editCustomer(id)
    {
        $("#btnAddCustomer").text("Cập nhật");
        $("#modalCustomerLabel").text("Cập nhật khách hàng");
        $("#btnClear").hide();

        $.ajax({
            url: "@Url.Action("GetCustomerInfo","Customer")",
            data: { ctmId: id },
        type: "GET",
        success: function (data) {
            if (data != null) {
                customerTemp = data;
                $("#txtCustomerName").val(data.Name);
                $("#txtCustomerCardId").val(data.CardId);
                $("#cbbCtmType").val(data.CustomerTypeId);
                $("#txtCustomerPhone").val(data.Phone);
                $("#txtCustomerAddress").val(data.Address);

            }
        },
        error: function () { toastr.error("Loi oi") }
    })
    }


    function deleteCustomer(id)
    {
        $.alertable.confirm('Bạn có chắc là muốn xóa?').then(function () {
            $.ajax({
                url: "@Url.Action("DeleteCustomer", "Customer")",
                data: { ctmId: id },
            type: "POST", // <== Method = POST
            success: function (data) {
                if (data) {

                    $('#customersTable').dataTable().fnDraw();
                    toastr.success("Xóa thành công");
                }
                else
                    toastr.error("Không thể xóa khách hàng này");
            },
            error: function () {
                toastr.error("Có lỗi xảy ra");
            }
        });


        }, function () { });

        @*var agreeDelete = confirm("Bạn có chắc chắn muốn xóa khách hàng này?");
        if (agreeDelete) {
            $.ajax({
                url: "@Url.Action("DeleteCustomer", "Customer")",
                data: { ctmId: id },
            type: "POST", // <== Method = POST
            success: function (data) {
                if (data) {

                    $('#customersTable').dataTable().fnDraw();
                    toastr.success("Xóa thành công");
                }
            },
            error: function () {
                toastr.error("Có lỗi xảy ra");
            }
        });
        }*@
    }


</script>

